#include "../../common.xcconfig"

//------------------------------
// Global settings

// the basename of the vst, vst3, app, component, dpm, aaxplugin
BINARY_NAME = AHConvN

EXTRA_INC_PATHS = $(EXTRAS_INC_PATHS) $(IGRAPHICS_INC_PATHS)
EXTRA_LIB_PATHS = $(IGRAPHICS_LIB_PATHS)
EXTRA_LNK_FLAGS = $(IGRAPHICS_LNK_FLAGS) $(ALL_FRAMEWORKS)

ADDITIONAL_INCLUDES = $(SRCROOT)/../HISSTools_PluginLib/ $(IGRAPHICS_PATH) $(EXTRA_INC_PATHS)

//ADDITIONAL_LIBRARY_PATHS = //

// for jack headers
//ADDITIONAL_APP_INCLUDES = /usr/local/include

// Flags to pass to compiler for all builds
GCC_CFLAGS = -Wno-write-strings

//------------------------------
// Preprocessor definitions

// Preprocessor definitions for all Debug builds
DEBUG_DEFS = _DEBUG $(ALL_DEFS)

// Preprocessor definitions for all Release builds
RELEASE_DEFS = NDEBUG $(ALL_DEFS)//DEMO_VERSION

// Preprocessor definitions for all Tracer builds
TRACER_DEFS = TRACER_BUILD NDEBUG $(ALL_DEFS)

// Preprocessor definitions for cocoa uniqueness (all builds)
// If you want to use swell inside of iplug, you need to make SWELL_APP_PREFIX unique too
//COCOA_DEFS = COCOA_PREFIX=vAHConvN SWELL_APP_PREFIX=Swell_vAHConvN

PKG_MAN_PATH = /usr/local/

ADDITIONAL_LIBRARY_PATHS = $(EXTRA_LIB_PATHS)

OTHER_LDFLAGS = $(EXTRA_LNK_FLAGS)


EXTRA_ALL_DEFS = COCOA_PREFIX=vIPlugEffectCairo SWELL_APP_PREFIX=Swell_vIPlugEffectCairo IGRAPHICS_CAIRO GRAPHICS_SCALING NO_FREETYPE


//------------------------------
// Release build options

//Enable/Disable Profiling code
PROFILE = NO //NO, YES - enable this if you want to use shark to profile a plugin

// GCC optimization level -
// None: [-O0] Fast: [-O, -O1] Faster:[-O2] Fastest: [-O3] Fastest, smallest: Optimize for size. [-Os]

RELEASE_OPTIMIZE = 3 //0,1,2,3,s
DEBUG_OPTIMIZE = 0 //0,1,2,3,s

